html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 76 arial, sans-serif; text-align: center;
}

p {
    margin: 0 10px 10px;
}

a {
    display: block; color: #981793;  padding: 10px;
}

